[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
C = IL
ST = Tel Aviv
L = Tel Aviv
O = Eyal CO.
OU = MyDivision
CN = myroot.com
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.myroot.com
DNS.2 = myroot.com